.accountSection {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1rem;
}

.accountOps input,
.accountOps select {
  height: 3rem;
  font: inherit;
  border: 1px solid #8f22b4;
  border-radius: 5px;
  margin: 0 8px;
  padding-left: 0.6rem;
}

.accountOps button {
  background-color: #8f22b4;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.accountOps button:hover {
  background-color: #a156ba;
}

.accountOps {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  background-color: #f5e0fd;
  padding: 32px;
}
.section {
  /* width: 50rem; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accountOps > * + * {
  margin-top: 20px;
}
