@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

/* COLOURS */

/* 
  --text-dark: #252525;
  --bg-light: #f5f5f5;
  --blue: blue;
  --red: red;
  --green: green;
*/

.app {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Courier New', monospace;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #252525;
}

.container {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.app header {
  height: 15rem;
}

.title {
  font-size: 8rem;
  margin-bottom: 3rem;
}

/* TIMER COMPONENT */

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-size: 8rem;
  margin-bottom: 1rem;
}

.counter span {
  color: #252525;
}

/* SETTINGS COMPONENT */

.settings {
  background-color: #f5f5f5;
  border: 2px solid #252525;
  padding: 3rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.settings h2 {
  font-size: 2.2rem;
}

.settings input {
  height: 3.6rem;
  width: 7.2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid #252525;
  text-align: right;
  padding: 1rem;
}

/* BUTTONS */

.btns {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.btn {
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1.2rem;
  padding: 1rem 1.2rem;
  padding-left: 2rem;
  text-align: center;
  cursor: pointer;
}

.btnIcons {
  font-size: 3rem;
}

.btnStart {
  background-color: green;
}

.btnPause {
  background-color: red;
}

.btnRerun {
  background-color: green;
  width: 25rem;
}

.btnReset {
  background-color: blue;
}

.btnSettings {
  background-color: #252525;
  width: 18rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.btnSubmit {
  background-color: #252525;
  justify-content: center;
}
