@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* ************* */
/* APP COMPONENT */
/* ************* */

.app {
  font-family: 'Roboto Mono', sans-serif;
  height: 100dvh;
  background-color: #eeeeee;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
}

.app h1 {
  text-align: center;
  margin-top: 5rem;
}

.app h2,
h3 {
  text-align: center;
}
