@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Londrina+Sketch&display=swap');

.app {
  font-family: 'IBM Plex Mono', monospace;
  background-color: white;
  color: var(--home-dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/**********/
/* INTRO SECTION */
/**********/

.header {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-bottom: 2px solid var(--cartoon-blue);
}

.header h1 {
  font-family: 'Londrina Sketch', cursive;
  font-size: 5.2rem;
  letter-spacing: 0.3rem;
  margin: 3rem 0 3rem 0;
  color: var(--cartoon-blue);
}

.aboutBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 8rem;
  border: none;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  color: var(--dark-grey);
  background-color: var(--light-grey);
  /* border-radius: 5px; */
  padding: 1.2rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--light-grey);
  background-color: white;
}

.introSection {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 5.6rem 0 5.6rem;
  border-top: 2px solid var(--cartoon-blue);
  /* border-bottom: 2px solid var(--cartoon-blue); */
}

.introText {
  line-height: 1.6;
}

.introText span {
  color: var(--cartoon-blue);
}

.introSection img {
  width: 14rem;
  height: 14rem;
}

.introSection a {
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  transition-duration: 300ms;
}

.introSection a:link,
.introSection a:visited {
  color: purple;
}

.introSection a:hover,
.introSection a:active {
  background-color: var(--cartoon-blue);
  color: white;
}

/********/
/* NAV  */
/********/

.navSection {
  width: 60%;
  align-self: center;
  line-height: 2.6;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.navSection ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* .navSection h2 {
  margin-top: 2rem;
} */

.navSection p {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.navSection li a {
  border: 2px solid var(--cartoon-blue);
  color: var(--cartoon-blue);
  background-color: var(--light-grey);
  border-radius: 5px;
  padding: 1.2rem;
  flex-shrink: 0;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  transition-duration: 300ms;
}

.navSection li a:link,
.navSection li a:visited {
  text-decoration: none;
  color: var(--cartoon-blue);
}

.navSection li a:hover,
.navSection li a:active {
  background-color: var(--cartoon-blue);
  color: white;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: var(--light-grey);
  font-size: 1.4rem;
  padding: 3rem;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer a[href^='http'] {
  color: black;
}
