@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Londrina+Sketch&family=Rubik+Doodle+Shadow&display=swap');

.app {
  font-family: 'IBM Plex Mono', monospace;
  background-color: white;
  color: var(--home-dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/**********/
/* INTRO SECTION */
/**********/

.header {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-bottom: 2px solid var(--cartoon-blue);
}

.header h1 {
  /* font-family: 'Londrina Sketch', cursive; */
  font-family: 'Rubik Doodle Shadow', cursive;
  font-size: 5.2rem;
  letter-spacing: 0.5rem;
  margin: 3rem 0 3rem 0;
  color: var(--cartoon-blue);
}

.aboutBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 8rem;
  border: none;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  color: var(--dark-grey);
  background-color: var(--light-grey);
  /* border-radius: 5px; */
  padding: 1.2rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--light-grey);
  background-color: white;
}

.introSection {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 5.6rem 0 5.6rem;
  border-top: 2px solid var(--cartoon-blue);
  /* border-bottom: 2px solid var(--cartoon-blue); */
}

.introText {
  line-height: 1.6;
}

.introText span {
  color: var(--cartoon-blue);
}

.introSection img {
  width: 14rem;
  height: 14rem;
}

.introSection a {
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  transition-duration: 300ms;
}

.introSection a:link,
.introSection a:visited {
  color: purple;
}

.introSection a:hover,
.introSection a:active {
  background-color: var(--cartoon-blue);
  color: white;
}

/********/
/* NAV  */
/********/

.navSection {
  width: 60%;
  align-self: center;
  line-height: 2.6;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.navSection ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.navSection li {
  list-style: none;
}
/* .navSection h2 {
  margin-top: 2rem;
} */

.navSection p {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.navSection li a {
  background-color: var(--light-grey);
  color: var(--cartoon-blue);
  border: 2px solid var(--cartoon-blue);
  border-radius: 5px;
  padding: 1rem 2.5rem;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  position: relative;
  flex-shrink: 0;
  transition-duration: 300ms;
}

.navSection li a:link,
.navSection li a:visited {
  text-decoration: none;
  color: var(--cartoon-blue);
}

.navSection li a:hover {
  background-color: var(--cartoon-blue);
  color: white;
}

.external li a {
  border: 2px solid #48b0d6;
  color: var(--cartoon-blue);
}

.external li a:link,
.external li a:visited {
  text-decoration: none;
  color: #48b0d6;
}

.external li a:hover,
.external li a:active {
  background-color: #48b0d6;
  color: white;
}

/**********/
/* FOOTER */
/**********/

.footer {
  background-color: var(--light-grey);
  font-size: 1.4rem;
  padding: 3rem;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer a[href^='http'] {
  color: black;
}

/********************/
/* ANIMATION EFFECT */
/********************/
.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: var(--cartoon-blue);
  border: 2px solid var(--cartoon-blue);
  border-radius: 5px;
  padding: 1.2rem;
  flex-shrink: 0;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  /* -- */
  position: relative;
  isolation: isolate;
}

.button:hover {
  color: white;
}

.button::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--cartoon-blue);
  inset: 0;

  scale: 0 1;
  transform-origin: right;
  transition: scale 500ms;
}

button:hover::after,
button:focus-visible::after {
  scale: 1 1;
  transform-origin: left;
}

/********************/
/* ANIMATION EFFECTS 2 */
/********************/
.custom-btn {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
/**** BTN No. 1 ****/
.btn-1 {
  border: 2px solid #000;
}
.btn-1:hover {
  background: #000;
  color: #fff;
}
.btn-1:active {
  top: 2px;
}
/**** BTN No. 14 ****/
.btn-14 {
  border: 2px solid #000;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}

.btn-14:hover {
  color: #fff;
}
.btn-14:hover:after {
  left: 0;
  width: 100%;
}
.btn-14:active {
  top: 2px;
}
