/* COLOURS */

/* 
  --grey-text-dark: #252525;
  --salmon-bg-lightest: #f7f2e9;
  --blue-grey-light: aliceblue;
*/

/* *************** */
/* APP COMPONENT */
/* *************** */

.app {
  font-weight: 400;
  background-color: #f7f2e9;
  color: #252525;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* AVOID USING WITH EXPANDABLE COMPONENT, SAME AS ACCORDION */
  /* justify-content: center; */
  align-items: center;

  padding: 4rem;
  line-height: 1.6;
}

.demos {
  width: 90%;
  display: flex;
  gap: 3rem;
}

.demo {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* gap: 1rem; */
}

.demo h3 {
  padding: 1.2rem;
}

.code {
  font-family: 'Roboto Mono', sans-serif;
  padding: 1.6rem;
  background-color: aliceblue;
  font-size: 1.5rem;
}

/* *********************** */
/* TEXT-EXPANDER COMPONENT */
/* *********************** */

.card {
  background-color: white;
  padding: 1.2rem 2.8rem;
  border-radius: 5px;
  flex: 1;
}

/* .card p {
  overflow: hidden;
  max-width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

/* .box {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 7px;
  color: #046304eb;
} */
