/* COLOURS */

/* 
  --grey-text-dark: #252525;
  --salmon-bg-lightest: #f7f2e9;
  --blue-grey-light: aliceblue;

  --starColor: #fcc419;
*/

/* *************** */
/* APP COMPONENT */
/* *************** */

.app {
  font-weight: 400;
  background-color: #f7f2e9;
  color: #252525;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  padding: 4rem;
}

.intro {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  justify-content: space-between;
  width: 90rem;
}

.description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 58%;
  line-height: 1.6;
}

.description h2 {
  text-align: left;
}

.demo {
  display: flex;
  align-items: center;
  width: 40%;
}

.code {
  font-family: 'Roboto Mono', sans-serif;
  padding: 1rem;
  background-color: aliceblue;
  font-size: 1.5rem;
  width: 45rem;
  line-height: 1.6;
}

.examples {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90rem;
  line-height: 1.6;
}

.example {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
}

.marginl {
  margin-left: 15rem;
}
