/* COLOURS */

/* 
  --react-blue: #61dbfb;
  --grey-lightest: #f7f7f7;
  --grey-light: #e7e7e7;

*/

.app {
  font-family: sans-serif;
  background-color: white;
  height: 100vh;
  padding: 10rem;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-size: 2rem;
}

.flashcard {
  background-color: #f7f7f7;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #e7e7e7;
  border-radius: 7px;
  padding: 20px;
  cursor: pointer;
}

.selected {
  font-weight: bold;
  background-color: #61dbfb;
  color: #fff;
  border: 1px solid #61dbfb;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
